{% extends 'common/main.html' %}

{% block head %}
{{super()}}
<title>Retail - View CSV</title>

{% endblock %}

{% block content %}
<div class="container my-3 border">
    <div class="row">
        <h6 class="text-primary"> {{filename}}</h6>
    </div>
    <form method="POST" action="/save">
    <div class="row  p-2" style="border-radius: 4px;">
        <input type="hidden" name="filename" value="{{filename}}"/>
    <table id="csv_table">
        {% if header %}
            <thead>
                <tr>
                {% for d in range(len(data[0])) %}
                        <td><input type="text" name="{{d}}" value="" placeholder="Search" class="search"/></td>
                {% endfor %}
            </tr>
                <tr class="bg-light">
                {% for d in range(len(data[0])) %}
                    <th class="text-muted">{{data[0][d]}}</th>
                    <input type="hidden" name="{{d}}" value="{{data[0][d]}}"/>
                {% endfor %}
            </tr>
            </thead>
        {% endif %}
        
        <tbody>
            {% if not header %}
            {% for row in data %}
                <tr>
                    {% for d in range(len(row)) %}
                        <td><input type="text" name="{{d}}" value="{{row[d]}}"/></td>
                    {% endfor %}
                    <td><button type="button" class="text-danger btn btn-sm remove_row">X</button></td>
                </tr>
            {% endfor %}
            {% else %}
            {% for row in data[1:] %}
                <tr>
                    {% for d in range(len(row)) %}
                        <td><input type="text" name="{{d}}" value="{{row[d]}}"/></td>
                    {% endfor %}
                    <td><button type="button" class="text-danger btn btn-sm remove_row">X</button></td>
                </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
    </div>
    <div class="row my-2">
        <div class="col-12">
            
            <button type="submit" class="btn btn-sm btn-primary mx-1" style="float: right;">Save</button>
            <button type="button" class="btn btn-sm btn-primary " style="float: right;"" id="add_row"> + Add row</button>
        </div>
    </div>
</div>
</form>
</div>
<script>
    $(document).ready(function(){
    $("#add_row").click(function(){
        var new_row = $("#csv_table tbody tr:last").clone();
        new_row.find('input').val('');
        new_row.appendTo('#csv_table tbody');
    });

    $(document).on("click", ".remove_row" , function() {
        $(this).closest('tr').remove()
    });
    $(document).on("keyup", ".search" , function(e) {
        var search = $(this).val().toLowerCase();
        var index = parseInt($(this).attr('name'))+1 
        var selector = '#csv_table tbody tr td:nth-child('+index+'):visible input'
        $(selector).each(function (i,ele) {
            if($(ele).val().toLowerCase()!= search && search != '')
                $(ele).closest('tr').hide()
            else
            $(ele).closest('tr').show()
        });
    });
});
</script>
{% endblock %}
